{% extends 'base.html' %}

{% block container %}
<h2>Hotels in NYC</h2>
<p>This page shows all hotels in NYC
        
    {% for hotel in hotels %}
    <div>
        <hr>
        <p>
            Name: {{ hotel.name }}<br>
            Rating: {{ hotel.rating }}<br>
            Address: {{ hotel.address }}<br>
            <a href="{{ url_for('edit', hotel_id=hotel._id) }}">Edit</a> |
        <a href="{{ url_for('delete', hotel_id=hotel._id) }}">Delete</a>
        </p>
    </div>
    {%endfor%}
</p>
{% endblock %}